/*COLORS:
#161412
#5a473a
#c7bdb1
#ddd9d6
#ffffff
*/

.navigation-pane {
    background-color: #212121;
    /*background-color: grey;*/
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: 25px;
    padding: 15px;
}

.navigation-pane a{
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    /*float: right;*/
    padding: 15px 15px;
}

.navigation-pane a:hover{
    /*background-color: lightgrey;*/
    /*color: #fefbea;*/
    color: #909090;
}

.navigation-pane a.active{
    /*background-color: grey;*/
    color: #9615DB;
}