p {
    font-size: 16px;
}

h1{
    font-size: 40px;
}

body {
    color: white;
    text-align: center;
}

nav {
    float: right;
    width: 40%;
    background-color: #333333;
    padding: 10px:
}
nav2 {
    float: left;
    width: 60%;
    background-color: black;
    padding: 10px:
}

socialNav {
    float: left;
    width: 50%;
    background-color: #333333;
    padding: 10px;
}

socialNav2 {

    width: 50%;
    background-color: black;
    padding: 10px;
}

.navigation {
    background-color: rgb(128, 128, 128);
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation a{
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: 16px;
    float: left;
    padding: 15px 18px;
}

.navigation a:hover{
    background-color: black;
    color: rgb(245, 245, 245);
}

.navigation a.active{
    background-color: #8b0000;
    color: white;
}