.navigation-pane {
    background-color: #212121;
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: calc(50% - 50vw);
    padding: 16px;
    /*overflow: hidden;*/
    overflow: hidden;
}

.navigation-pane a{
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    /*float: right;*/
    padding: 15px 15px;
    text-decoration: none;
}

.navigation-pane a.name {
    color: #9615DB;
    text-align: left;
}

.navigation-pane a.name:hover {
    color: #FFFFFF;
}

.navigation-pane a:hover{
    /*DONOTUSE background-color: lightgrey;*/
    /*DONOTUSE color: #fefbea;*/
    color: #909090;
}

.navigation-pane a.active{
    /*background-color: grey;*/
    color: #9615DB;
}

/* TODO NEW THINGS BELOW THIS*/

