.navigation-pane {
    background-color: #eaffd0;
    /*background-color: grey;*/
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: 25px;
    padding: 15px;
}

.navigation-pane a{
    color: black;
    text-align: center;
    font-size: 36px;
    /*float: right;*/
    padding: 15px 15px;
}

.navigation-pane a:hover{
    /*background-color: lightgrey;*/
    /*color: #fefbea;*/
    color: #fdd0ff;
}

.navigation-pane a.active{
    /*background-color: grey;*/
    color: darkmagenta;
}